@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;600;700&display=swap');

.ff {
    font-family: 'Sometype Mono', monospace;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sometype Mono', monospace;;
}

.logo_cv {
    color: #9400D3;
    font-size: 30px;
    
}

.header_cv {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    padding: 12px 10px;
    background-color: #1e2326;
    align-items: center;
}

.header_cv nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header_cv nav ul li a {
    text-align: none;
    color: #00BFFF;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    border-radius: 1rem;
}

.header_cv nav ul li a:hover{
    color: #9400D3;
    outline: 2px solid #9400D3;
}


.presentacion {
    background-color: #1e2326 ;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.contenedor__img img {
    border-radius: 1rem;
}

.contenedor__presentacion{
    max-width: 800px;
    display: flex;
    gap: 2rem;

}


.contenedor__info{
    padding-top: 2rem;
}

.contenedor__info div:nth-child(1) h1 {
    display: grid;
    grid-column:auto;
    color: #00BFFF;
}

.parrafo {
    max-width: 350px;
    text-align: center;
    color: #fff;
}

.contenedor__info div:nth-child(1) h1 span {
    font-size: 17px;
    color: #9400D3;
}




.contenedor__info__academico{
    background-color: #1e2326ee;
    padding: 2rem;
    height: 600px;
}

.formacion_academica {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.formacion_academica h2 {
    align-self: flex-start;
    color: #9400D3;
}

.instituciones {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    color: #fff;
    
}

.institucion {
    width: 550px;
    padding:1rem;
    border: 1px solid #00BFFF;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.contenedor_experiencia_laboral {
    background: #1e2326ee;
    color: #fff;
    padding: 2rem;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.contenedor_experiencia_laboral h2 {
    align-self: flex-start;
    color: #9400D3;
}


.empresas{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;

    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.empresa{
    border: 1px solid #00BFFF;
    padding: 1rem;
    border-radius: 1rem;
}

.contenedor_footer{
    background: #1e2326;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2rem;
}

.links-redes {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.mas_de_mi {
    color: #00BFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logos {
    display: flex;
    gap: 3rem;
}

.logos_svg {
    width: 25px;
}

.logo_redes {
    width: 25px;
}




